<% provide(:title, "Booking") %>
<p id="notice"><%= notice %></p>
<h1>Tennis Court Bookingsheet</h1>



<% if user_signed_in?%>
<%= link_to 'New Booking', new_booking_path, :class => "button", :role => "button"  %>
<% else %>
<h3>Only member can book tennis court!</h3>
<% end %>

<%= week_calendar events: @bookings do |date, bookings| %>
  <%= date %>
  <% (9..18).each do |h|%>
  <div>
    
	<% if h < 12 %>
		<%= h %> AM 
	<% else %>
		<%= h %> PM 
	<% end %>
	
    <% bookings.each do |booking| %>
      <% if h.between?(booking.start_time.hour, (booking.start_time.hour + (booking.duration-1)))%> - Booked<% end %>
      <% if h == booking.start_time.hour%>
        <%= link_to 'Edit', edit_booking_path(booking) %>
        <%= link_to 'Cancel', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
  </div>
  <% end %>
<% end %>