<h1>My Cart</h1>

<% if @cart.empty? %>
<p>You have not added any items yet</p>
<% end %>

<table>
  <tbody>
    <tr>
      <td><h4>Court name</h4></td>
      <td><h4>Start time</h4></td>
      <td><h4>Duration</h4></td>
      <td><h4>Price</h4></td>
      <td colspan="3"></td>
    </tr>
    <tr>
    </tr>

    <% total=0 %>
    <% @bookings.each do |booking| %>
    <tr>
        <% @courts.each do |court| %>
        <% if booking.court_id == court.id %>
          <td><%= court.court_name %></td>
        <% end %>
       <% end %>
      <td><%= booking.start_time %></td>
      <td><%= booking.duration %></td>
      <td><%= number_to_currency(booking.duration*5, :unit =>"€")%></td>
      <td><%= link_to 'Show', booking, :class => "button", :role => "button" %></td>
      <td><%= link_to 'Edit', edit_booking_path(booking), :class => "button", :role => "button" %></td>
      <td><%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' },  :class => "button", :role => "button"%></td>
    </tr>
      <% total=total+booking.duration*5 %>
    <% end %>
   
    <tr>
      <td></td>
      <td></td>
      <td>Grang Total: </td>
      <td><%= number_to_currency(total, :unit => "€") %></td>
    </tr>
    
  </tbody>
</table>
<br>

<a href="/checkout" class="button">Checkout</a>
<%= link_to 'Continue to add new bookings', new_booking_path, :class => "button", :role => "button" %>