<%= form_for(booking) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Court" %>
    <%= f.collection_select(:court_id, Court.all, :id, :court_name) %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select(:start_time, :default => {:minute => 00 }) %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.number_field :duration %>
  </div>

      <% if current_user %>
      <%= f.hidden_field :user_id, value: current_user.id%>
      
      <% end %>
      
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
