<%= form_for(booking) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :court_name %>
    <%= f.select(:court_name, options_for_select([['court 1','court 1'], ['court 2','court 2'], ['court 3','court 3'], ['court 4','court 4']]))%>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select(:start_time, :default => {:minute => 00 }) %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.number_field :duration %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
