<p id="notice"><%= notice %></p>

<h1>Bookings</h1>
<br>

<table>
  <tbody>
    <tr>
      <td><h4>Court name</h4></td>
      <td><h4>Start time</h4></td>
      <td><h4>Duration</h4></td>
      <td><h4>Price</h4></td>
      <td><h4>User Id</h4></td>
      <td><h4>Is-Paid</h4></td>
      <td colspan="3"></td>
    </tr>
    <tr>
    </tr>

    <% total=0 %>
    <% @bookings.each do |booking| %>
    <tr>
      <% @courts.each do |court| %>
        <% if booking.court_id == court.id %>
          <td><%= court.court_name %></td>
        <% end %>
       <% end %>
      
      
      <td><%= booking.start_time %></td>
      <td><%= booking.duration %></td>
      <% booking.price = booking.duration*5 %>
      <td><%= number_to_currency(booking.price, :unit =>"€")%></td>
      <td><%= booking.user_id %></td>
      <% if (!booking.is_booked) %>
      <td>false</td>
      <% else %>
      <td><%= booking.is_booked %></td>
      <% end %>
      <td><%= link_to 'Show', booking, :class => "button", :role => "button" %></td>
      
      <td><%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' },  :class => "button", :role => "button"%></td>
      
    </tr>
      <% total=total+booking.duration*5 %>
    <% end %>
   
    <tr>
      <td></td>
      <td></td>
      <td>Grang Total: </td>
      <td><%= number_to_currency(total, :unit => "€") %></td>
    </tr>
    
  </tbody>
</table>
<br>



