<p id="notice"><%= notice %></p>

<p>
  <strong>Court name:</strong>
  <%= @court.court_name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @booking.start_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @booking.duration %>
</p>

<p>
  <strong>Price:</strong>
  <% d = @booking.duration %>
  <% p = d*5 %>
  <% @booking.price = p %>
  <%= @booking.price %>
</p>

<%= link_to "My Cart","/cart", :class => "button", :role => "button" %>
